<header>
    <h5>
        <!-- My router -->
        <table width="100%">
            <tr>
                <td align="left">
                    <a href="/pages/index.html" target="_top">
                        <img src="/logo.jpeg" alt="" width="100">
                    </a>
                </td>
                <td align="center"></td>
                <td align="right" valign="top">
                    <i> <a href="/pages/about.html" target="_top">About</a></i>
                    <i> <a href="/pages/index.html" target="_top">Home</a></i>
                </td>
            </tr>
        </table>
</header>